
@{   
    @model IEnumerable<HomeworkDay1.Models.ViewModels.MoneyViewModel>
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.SR </td>
                <td>@item.ChangType</td>
                <td>@item.ChangDate.ToString("yyyy/MM/dd")</td>
                <td>@item.Money</td>
            </tr>
            }
        </table>
    </div>
</div>

